/* https://coolors.co/fffffa-515052-000103-333138-ff312e */
body{
    /* background-color: #515052;
    color: #fffffa; */
    font-family: Roboto;
}

#main{
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}