{% extends 'base.html' %}
{% block title %}
View Sales Order
{% endblock %}

{% block content%}
{% if data|length > 0 %}
    <h2>Order #{{ data[0]['VBELN'] }}</h2>
    <table class="pure-table pure-table-bordered" style="margin: 0px auto;">
        <tr>
            <td>Sold-To Party:</td>
            <td>{{ data[0]['KUNNR'] }}</td>
        </tr>
        <tr>
            <td>Ship-To Party:</td>
            <td>{{ data[0]['KUNNR'] }}</td>
        </tr>
        <tr>
            <td>Purchase Order Number:</td>
            <td>{{ data[0]['BSTNK'] }}</td>
        </tr>
        {% if 'BSTDK' in data[0]%}
        <tr>
            <td>Purchase Order Date:</td>
            <td>{{ data[0]['BSTDK'] }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Net Total Price:</td>
            <td>${{ data[0]['NETWR'] }}</td>
        </tr>
        <tr>
            <td>Sales Organization:</td>
            <td>{{ data[0]['VKORG'] }}</td>
        </tr>
    </table>
    <h3> Items</h3>
    <table class="pure-table pure-table-bordered" style="margin: 0px auto;">
        <tr>
            <th>Item Number</th>
            <th>Material</th>
            <th>Order Quantity</th>
            <th>Description</th>
            <th>Item Price</th>
        </tr>
        {% for i in range(0,data|length)%}
        <tr>
            <td>{{ data[i]['POSNR'] }}</td>
            <td>{{data[i]['MATNR']}}</td>
            <td>{{data[i]['KWMENG']}}</td>
            <td>{{data[i]['ARKTX']}}</td>
            <td>${{data[i]['NETPR']}}</td>
        </tr>
        {% endfor%}
    </table>
    <br/>
{% else %}
<p>Nothing to Display</p>
{% endif %}
<br/>
<button class="pure-button"><a href=" {{ url_for('salesorderpage') }} ">Find a new Sales Order</a></button>

{% endblock %}
